* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;

    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTetF2Zc3gcD736wHWI1obEyOlf-s2ecy_nVRalkMsDQA&s=10");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 400px;
    background-color: white;
    padding: 30px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}
h1 {
    color: #1565c0;
    margin-bottom: 25px;
}

form {
    display: flex;
    gap: 10px;
}

input {
    flex: 1;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
}

button {
    padding: 12px 15px;
    background-color: #1565c0;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
}

button:hover {
    background-color: #0d47a1;
}

.weather-card {
    margin-top: 30px;
    padding: 20px;
    background-color: #f5f9ff;
    border-radius: 12px;
}

.weather-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;
    border-bottom: 1px solid #ddd;
    font-size: 16px;
}

.weather-row span:last-child {
    color: #1565c0;
    font-weight: bold;
}